[Desktop Entry]
Name=Drawio
Comment=diagrams.net desktop
Exec=AppRun
Terminal=false
Type=Application
Icon=icon
StartupWMClass=draw.io
X-AppImage-Version=13.0.1.294
MimeType=application/vnd.jgraph.mxfile;application/vnd.visio;
Categories=Graphics;
